# Decoding the One Line Solution

This notebook decomposes step by step the [One Line Solution](https://www.kaggle.com/paulorzp/one-line-solution-2nd-stage-final) solution.

```python
import pandas as pd; pd.read_csv("../input/key_2.csv",converters={'Page':lambda p:p[:-11]}, index_col='Page').join(pd.read_csv("../input/train_2.csv", usecols=[0]+list(range(755,803)), index_col='Page').median(axis=1,skipna=True).to_frame(name='Visits'), how='left').fillna(0).to_csv('sub.csv', float_format='%.0f', index=False)
```

## Results:
+ Window of 48 using mean: 47.38643
+ Window of 48 using median: 41.94324

In [1]:
import pandas as pd
DATA_PATH = "../data/input/"

## Getting IDs for Submission

The first step of the process is to import the keys and remove the date from the page name. This is done for extracting the IDs for the submission file.

In [2]:
keys_df = pd.read_csv(DATA_PATH + "key_2.csv", converters={'Page':lambda p:p[:-11]}, index_col='Page')
keys_df.head()

                                                            Id
Page
007_スペクター_ja.wikipedia.org_all-access_all-agents  0b293039387a
007_スペクター_ja.wikipedia.org_all-access_all-agents  7114389dd824
007_スペクター_ja.wikipedia.org_all-access_all-agents  057b02ff1f09
007_スペクター_ja.wikipedia.org_all-access_all-agents  bd2aca21caa3
007_スペクター_ja.wikipedia.org_all-access_all-agents  c0effb42cdd5

## Calculate Median Value

The next step is to calculate the median of the last 48 days. 
To calculate the median we must first define the window we are going to use. The Kaggle solution uses the last 48 days to calculate the median and make the prediction. Since the columns of `train_df` are the days, the last 48 days are retrieved from the last 48 column of the dataframe. This is done using the `usecols` parameter. Once we have the last 48 days we calculate the median value of the days in that window.

In [3]:
train_df = pd.read_csv(DATA_PATH + "train_2.csv", usecols=[0]+list(range(755,803)), index_col='Page')
median_df = train_df.median(axis=1, skipna=True).to_frame('Visits')
mean_df = train_df.mean(axis=1, skipna=True).to_frame('Visits')

/home/carlosmiguelpatino/Software/miniconda3/envs/timeseries/lib/python3.7/site-packages/numpy/lib/function_base.py:3405: RuntimeWarning: All-NaN slice encountered
  r = func(a, **kwargs)

In [4]:
median_df.head()

                                                    Visits
Page
2NE1_zh.wikipedia.org_all-access_spider               22.5
2PM_zh.wikipedia.org_all-access_spider                20.0
3C_zh.wikipedia.org_all-access_spider                  4.5
4minute_zh.wikipedia.org_all-access_spider            15.0
52_Hz_I_Love_You_zh.wikipedia.org_all-access_sp...    19.0

In [5]:
mean_df.head()

                                                       Visits
Page
2NE1_zh.wikipedia.org_all-access_spider             26.395833
2PM_zh.wikipedia.org_all-access_spider              22.791667
3C_zh.wikipedia.org_all-access_spider                5.979167
4minute_zh.wikipedia.org_all-access_spider          18.375000
52_Hz_I_Love_You_zh.wikipedia.org_all-access_sp...  23.104167

## Join IDs and Predictions

Join the predicted value with the IDs.

In [6]:
joined_median = keys_df.join(median_df, how='left').fillna(0)
joined_median.head()

                                                        Id  Visits
Page
!vote_en.wikipedia.org_all-access_all-agents  fcc80b534ec3    11.0
!vote_en.wikipedia.org_all-access_all-agents  cb546ce1d7f1    11.0
!vote_en.wikipedia.org_all-access_all-agents  df76aa5db9b3    11.0
!vote_en.wikipedia.org_all-access_all-agents  d7a6e8477c1f    11.0
!vote_en.wikipedia.org_all-access_all-agents  f3dc8ae4c23a    11.0

In [7]:
joined_mean = keys_df.join(mean_df, how='left').fillna(0)
joined_mean.head()

                                                        Id  Visits
Page
!vote_en.wikipedia.org_all-access_all-agents  fcc80b534ec3   11.75
!vote_en.wikipedia.org_all-access_all-agents  cb546ce1d7f1   11.75
!vote_en.wikipedia.org_all-access_all-agents  df76aa5db9b3   11.75
!vote_en.wikipedia.org_all-access_all-agents  d7a6e8477c1f   11.75
!vote_en.wikipedia.org_all-access_all-agents  f3dc8ae4c23a   11.75

## Make Submission File

In [8]:
joined_median.to_csv('../submissions/median_oneliner.csv', float_format='%.0f', index=False)
joined_mean.to_csv('../submissions/mean_oneliner.csv', float_format='%.0f', index=False)